<template>
  <v-row align="center" justify="center">
    <v-col cols="12" md="6" lg="3">
      <v-card>
        <v-card-title>Login</v-card-title>
        <v-form v-model="valido">
          <v-text-field v-model="usuario" label="usuario" :rules="rules" />
          <v-text-field v-model="password" label="contraseña" type="password" :rules="rules" />

          <v-card-actions>
            <v-btn to="/recover">Recuperar contraseña</v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="login" :disabled="!valido">LOGIN</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      usuario: "",
      password: "",
      valido: false,
      rules: [
        v => !!v || "Es requerido",
        v => v.length > 4 || "Debe de ser mayor a 4"
      ]
    };
  },
  methods: {
    login() {
      const user = this.$Parse.User.logIn(this.usuario, this.password);
      user
        .then(data => {
          console.log(data);
          this.$router.push("app");
          this.usuario = "";
          this.password = "";
        })
        .catch(error => {
          this.$store.dispatch("showAlert", {
            type: "error",
            msg: "El usuario o la contraseña son incorrectos"
          });
          console.error(error);
        });
    }
  }
};
</script>

<style>
</style>