<template>
  <v-card>
    <v-card-title>Recuperar contraseña</v-card-title>
    <v-card-text>
      <v-form v-model="valido">
        <v-text-field label="correo" v-model="email" :rules="emailRules" required></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn :disabled="!valido" @click="recover">Recuperar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      valido: false,
      emailRules: [
        v => !!v || "Requerido",
        v =>
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            v
          ) || "Ingresa un correo válido"
      ]
    };
  },
  methods: {
    recover() {
      this.$Parse.User.requestPasswordReset(this.email)
        .then(() => {
          console.log("El correo se envió");
          this.$store.dispatch("showAlert", {
            type: "success",
            msg: "El correo fue enviado con éxito"
          });
        })
        .catch(error => {
          console.error(error);
          this.$store.dispatch("showAlert", {
            type: "error",
            msg: "No fue posible enviarlo"
          });
        });
    }
  }
};
</script>
