<template>
  <v-card>
    <v-card-title>Registro</v-card-title>
    <v-form v-model="valido">
      <v-card-text>
        <v-text-field v-model="user.username" label="Nombre" :rules="rules" />
        <v-text-field v-model="user.email" label="correo" :rules="emailRules" />
        <v-text-field
          v-model="user.password"
          label="contraseña"
          :rules="rules"
          required
          type="password"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn @click="registro" :disabled="!valido">Regsitro</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "registro",
  data() {
    return {
      user: {},
      valido: false,
      rules: [
        v => !!v || "Es requerido",

        v => v.length > 4 || "Debe de ser mayor a 4"
      ],
      emailRules: [
        v => !!v || "Requerido",
        v =>
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            v
          ) || "Ingresa un correo válido"
      ]
    };
  },
  methods: {
    registro() {
      const user = new this.$Parse.User();
      user
        .set("username", this.user.username)
        .set("email", this.user.mail)
        .set("password", this.user.password)
        .signUp()
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>

<style>
</style>